<div class="container">
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4">
      <%= form_for @post, url: posts_path do |f| %>

    <% if @post.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
 
    <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
     <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title, autofocus: true, autocomplete: "title", class: "form"  %>
  </div>
   
       <div class="field1">
    <%= f.file_field :image %>
    </div>
   <div class="actions">
        <%= f.submit "Upload", class: "btn btn-primary" %>
      </div>
<% end %>
</div>
<div class="col-4"></div>
</div>
</div>